<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="#">Logo</a>-->
        <img src="http://www.free-icons-download.net/images/inventory-maintenance-94840.png" class="img-thumbnail"
             style="width:10%">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inventory</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
        </ul>
    </div>

    <div class="jumbotron">
        <!--/*@thymesVar id="post" type=""*/-->
        <form class="form-horizontal row" action="#" th:action="@{/inventory}" method="post" th:object="${post}">
            <fieldset>
                <legend>PRODUCTS</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">PRODUCT NAME</label>
                    <div class="col-md-4">
                        <input type="text"  id="name" name="name" placeholder="PRODUCT NAME" class="form-control input-md" required/>
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label">AVAILABLE QUANTITY</label>
                    <div class="col-md-4">
                        <input type="number" id="quantity" name="quantity"  placeholder="AVAILABLE QUANTITY"
                               class="form-control input-md" required/>
                    </div>
                </div>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 control-label">PRODUCT DESCRIPTION</label>
                    <div class="col-md-4">
                        <input type="text" id="description" name="description" placeholder="DESCRIPTION"
                               class="form-control input-md" required/>

                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Save Product</label>
                    <div class="col-md-4">
                        <button name="singlebutton" type="submit" class="btn btn-success">Save
                        </button>
                    </div>
                </div>


            </fieldset>

        </form>


        <table class="table row">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col"> Edit</th>
                <th scope="col"> Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">1</td>
                <td><a href="#" th:text="${product.name}">Title ...</a></td>
                <td th:text="${product.description}">Text ...</td>
                <td th:text="${product.quantity}">Text ...</td>
                <td><button type="button" class="btn btn-success">Edit</button> </td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>